body {
    margin: 0;
}


header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}



div1 { position: relative;
           top: 10px;
           left: 50%;
           margin-left: -500px;  }


button{
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 75%;
}
